// import the customize scss
@import './scss/custom.scss';

body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content-containter{
    width: calc(100% - 288px);
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 48px;
    left: 291px;
    background-color: $background;
	
	.content-header{
		height: 80px;
		
		.title {
			padding-top: 20px;
			padding-bottom: 20px;
			margin-right: 48px;
			span {
				color: #128474;
				font-weight: normal;
				font-size: 22px;
				padding-left: 24px;
			}
		}

		.filter {
			.form-select, .form-control {
				border: none;
				border-bottom: 1px solid $border-color;
				font-size: 14px;
				font-weight: bold;
				background-color: $background;
			}

			span {
				color: $gray-500;
				font-size: 12px;
				padding-left: 8px;
			}
		}

		.btn-row, .add-btn-user {
			
			button{
				border: none;
				color: rgba($color: rgb(255, 255, 255), $alpha: 1.0);
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
		
		.btn-row {
			margin-left: 48px;
			button {
				background-color: $navbar-background;
			}
		}

		.add-btn-user{
			button{
				margin-left: 103px;
			}
		}
	}
	
	.content {
		table {
			height: 100%;
			
			thead {
				th {
					// remove the first line of the table
					border: none;
				}
			}

			tbody{
				background-color: $content-background;
				border-top: 1px solid $border-color;
				border-bottom: 1px solid $border-color;
				margin-left: 24px;

				td {
					button {
						background-color: $content-background;
						border: none
					}
				}
			}
		}

		.dropdown{
			button{
				color: black;
			}
		}

		.no-data {
			text-align: center;
		}
	}

	.form-container{
		margin-left: 24px;
		margin-right: 24px;

		form {
			.row {
				padding-bottom: 32px;
			}
			.form-control, .form-select {
				border-color: $border-color;
			}

			.btn-row{
				float: right;
				margin-right: 3px;
				.btn {
					background-color: $navbar-background;
					border: 1px solid $sidebar-header-background;
					color: rgba($color: rgb(255, 255, 255), $alpha: 1.0);
					font-weight: bold;
					width: 80px;
				}
			}
		}
	}
}