$background: #E8E8E8;
$sidebar-header-background: #177261;
$sidebar-background: #004750;
$sidebar-background-darker: #003333;
$navbar-background: #128474;
$border-color: #C6C6C6;
$content-background: #F9f9f9;